# Ignore node_modules anywhere in the directory tree
**/node_modules/
# Ignore the outputs of tsc
/build
*.csv
*.xls
*.xlsx


# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
