.ScenarioView {
  text-align: left;
  margin-left: 10%;
}

.GridContainer {
  display: grid;
  border: 2px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.item2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}