.App {
  text-align: center;
}

.grid-container {
  display: grid;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.scenario-summary {
  text-align: left;
  margin-left: 10%;
}

table, th, tr, td {
  border: 1px solid black;
  text-align: left;
}

.td-reflow-text {
  word-wrap: break-word;
  max-width: 300px;
}

.bold-text {
  font-weight: bold;
}